* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: "lovelynregular";
  src: url("lovelyn_free_personal_use-webfont.woff2") format("woff2"),
    url("lovelyn_free_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "lovelynregular";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5vw;
  line-height: 54px;

  letter-spacing: 0.14em;

  color: #2b5b70;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#TopText {
  margin-top: 10.4vh;
  margin-left: 15.5vw;
}

#BotText {
  margin-top: 2.5vh;
  margin-left: 21.9vw;
}
.App {
  color: #d0e0df;
}
